.ipynb_checkpoints/
torch_data/
*.pyc
runs/
data/
.DS_Store
scratch-space/.DS_Store
images/
TCGA_LUSC/
training_data.npz
logs/
wgan_images/
tcga_check/
cifar_images/
patch_data/
tcga_images*/
*.tar
*.txt

